:root {
  /* colors */
  --color-blue-950: #15202a;
  --color-blue-500: #4c7bf3;
  --color-blue-200: #c2d3ff;
  --color-grey-400: #969696;
  --color-grey-100: #ebebeb;
  --color-grey-50: #fbfcff;
  --color-red-400: #ff5466;
  --color-red-200: #ffa7b0;
  --color-Green-500: #2ecc71;

  /* typo */
  --fs-pr1: 4.8rem;
  --lh-pr1: 1.25;

  --fs-pr2: 2rem;
  --lh-pr2: 1.25;

  --fs-pr3: 1.6rem;
  --lh-pr3: 1.25;

  --fs-pr4: 1.2rem;
  --lh-pr4: 1.25;
  --f-Style: italic;

  --fs-pr5: 1rem;
  --lh-pr5: 1.25;

  /* spacing */
  --space-0: 0rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
  --space-600: 4.8rem;
}

html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-family: "Libre Franklin", serif;
  display: grid;
  align-content: center;
}

/* input */
.form--input {
  display: block;
  width: 100%;
  border: 1px solid var(--color-blue-200);
  outline: 0px;
  border-radius: 2.8rem;
  padding: var(--space-200) var(--space-400);
  font-size: var(--fs-pr3);
  line-height: var(--lh-pr3);
  color: var(--color-blue-200);
  transition: all 100ms ease-out;
}
.form--input:focus {
  outline: 2px solid var(--color-blue-200);
}
.form--input::placeholder {
  color: var(--color-blue-200);
}

.form--input--invalid {
  color: black;
  border: 1px solid var(--color-red-400);
  outline: 0;
}

.form--input--invalid::placeholder {
  color: black;
}

.form--input--invalid:focus {
  border: 1px solid var(--color-red-200);
  outline: 2px solid var(--color-red-200);
}

.form--controler {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

#error--messsage {
  color: white;
  font-style: italic;
  font-size: var(--fs-pr4);
  line-height: var(--lh-pr4);
  padding: 0 var(--space-400);
}

/* btn */
.btn {
  display: block;
  width: 100%;
  border: none;
  padding: var(--space-200) var(--space-600);
  font-size: var(--fs-pr3);
  line-height: var(--lh-pr3);
  font-weight: 600;
  color: white;
  background-color: var(--color-blue-500);
  transition: all 200ms;
  border-radius: calc(var(--space-300) + 0.4rem);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

/* social icon */
.social--group {
  display: flex;
  gap: var(--space-200);
  justify-self: center;
  cursor: pointer;
}

/* logo */
.logo {
  max-width: 5.3rem;
  align-self: center;
  margin-bottom: var(--space-500);
}

/* form */
#main--form {
  display: flex;
  flex-direction: column;
  gap: var(--space-500);
}

.form--title {
  font-size: var(--fs-pr2);
  line-height: var(--lh-pr2);
  font-weight: 300;
  color: var(--color-grey-400);
}

.form--title strong {
  font-weight: bold;
  color: var(--color-blue-950);
}

.main--form--header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}
